.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;

}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

.editar {
    background-color: rgb(77, 189, 62);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .excluir {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  


